<mat-toolbar color="primary">
  <button
    mat-icon-button
    [matMenuTriggerFor]="menu"
    aria-label="Example icon-button with a menu"
  >
    <mat-icon>more_vert</mat-icon>
  </button>
  <mat-menu #menu>
    <button mat-menu-item (click)="onHowTo()">
      <mat-icon>help</mat-icon>
      <span>How To</span>
    </button>
    <button mat-menu-item (click)="onCreateGame()">
      <mat-icon>stars</mat-icon>
      <span>Create Game</span>
    </button>
    <button mat-menu-item (click)="onJoinGame()">
      <mat-icon>play_circle_filled</mat-icon>
      <span>Join Game</span>
    </button>
  </mat-menu>
  <span>2 Player Reaction</span>
</mat-toolbar>
