<h1 mat-dialog-title>How To</h1>
<div mat-dialog-content>
  <p>
    Each player has four buttons - blue, yellow, purple, and red. A big label in
    the middle of the screen displays the name of one of these colors. The
    background color of this label is randomly chosen among the other colors.
    The players have to press the button matching the word (not the background
    color). Hitting the right button earns one point. Wrong clicks loose 2
    points. The game ends after 2 minutes and the player with the highest score
    wins.
  </p>
  <p>
    Create Game - Create a new game.
  </p>
  <p>
    Join Game - Join an existing game with a room id.
  </p>
</div>
<div mat-dialog-actions>
  <button mat-button mat-dialog-close>Close</button>
</div>
