<div class="header">
  <angular-multiplayer-reaction-toolbar></angular-multiplayer-reaction-toolbar>
</div>

<div class="content">
  <div *ngIf="vm$ | async as vm">
    <angular-multiplayer-reaction-score-board
      [score]="vm.score"
    ></angular-multiplayer-reaction-score-board>

    <angular-multiplayer-reaction-game-screen
      [task]="vm.task"
    ></angular-multiplayer-reaction-game-screen>

    <angular-multiplayer-reaction-button-panel></angular-multiplayer-reaction-button-panel>
  </div>
</div>
