<div class="header">
  <nx-confusion-toolbar></nx-confusion-toolbar>
</div>

<div class="content">
  <div *ngIf="vm$ | async as vm">
    <nx-confusion-timer-display
      [timer]="vm.timeCounter"
    ></nx-confusion-timer-display>

    <nx-confusion-score-board [score]="vm.score"></nx-confusion-score-board>

    <nx-confusion-game-screen [task]="vm.task"></nx-confusion-game-screen>

    <nx-confusion-button-panel
      (buttonPressed)="onButtonPressed($event)"
    ></nx-confusion-button-panel>
  </div>
</div>
